.box1 {
     background-color: blue;
}

.box2 {
     background-color: green;
}

.box3 {
     background-color: purple;
}

.box4 {
     background-color: green;
}

.box5 {
     background-color: yellow;
}

.box6 {
     background-color: red;
}

.box7 {
     background-color: darkred;
}

.box8 {
     background-color: darkblue;

}

.box9 {
     background-color: gray;
}

.box10 {
     background-color: darkmagenta;
}